.category-card {
    display: flex;
    justify-content: space-between;
    width: 24%;
    padding: 1em;
    margin-bottom: 1.3%;
}

.card-img {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    width: 32%;
    overflow: hidden;
}

.category-card img {
    height: 100%;
    width: 100%;
    transition: transform .3s ease-in-out;
    transform: translateZ(0);
}

.category-card:hover img {
    transform: scale(1.2);
}

.category-card-text {
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1.4em;
    width: 75%;
}

.c-brand-window__image-element {
    width: 100%;
    height: 100%;
    
    
    
    
}