.categories-popup-bg {
    background-color: rgba(0,0,0,.7);
    inset: 0;
    overflow: scroll;
    position: fixed;
    z-index: 1;
}

.categories-popup {
    margin-bottom: 5.5em;
    margin-top: 4.25em;
    padding: 2em 9em 3.25em 9em;
    background-color: white;
    width: 100%;
}

.categories-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3%;
}

.categories-popup-text {
    font-size: 3em;
    font-weight: 500;
}

.categories-close {
    font-size: 2em;
}