.footer-main {
    margin-top: 5em;
    border-top: 1px solid #d2d9e1;
}

.footer-line {
    border-bottom: 1px solid #d2d9e1;
}

.footer-container {
    margin: 3em 10vw;
}

.footer-map {
    display: flex;
}

.footer-flex-1 {
    flex: 1;
}

.footer-flex-1 h6 {
    flex: 1;
    margin-bottom: 1.5em;
}

.footer-flex-1 ul {
    font-size: .875em;
    line-height: 1.28571;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #565b60;
}

.footer-flex-1 li {
    margin-bottom: .5em;
    height: 2.3em;
    min-width: 2em;
}

.footer-flex-1 li a:hover {
    color: #a6a6a6;
    text-decoration: underline;
}

.footer-copyright {
    color: black;
    white-space: nowrap;
    font-size: .875em;
}

.footer-lower a {
    color: #565b60;
    font-size: .875em;
}

.footer-lower a:hover {
    color: #a6a6a6;
    text-decoration: underline;
}