.app-modal {
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.app-modal-dlg {
    background-color: #fff;
    box-shadow: 0 .25rem .5rem #919397;
    max-width: 25em;
    min-height: 0;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app-modal-head {
    padding: 1em 1em;
    border-bottom: .0625em solid #d2d9e1;
    width: 100%;
    position: relative;
}

.app-modal-title {
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    margin: 0 2em 0 2em;
}

.app-modal-close {
    font-size: 2em;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}

.app-modal-content {
    padding: 1.6em 2em;
}