.product-card {
    position: relative;
    font-weight: 500;
}

.product-card-imgs {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-imgs img {
    width: 100%;
}

.product-name {
    margin-top: 0.625em;
    font-size: 1em;
    line-height: 1.25em;
    min-height: 2.5em;
}

.product-currentbid {
    margin-top: .75em;
    font-size: .625em;
    font-weight: 400;
    letter-spacing: .05625em;
    color: #565b60;
}

.product-card-bid {
    font-size: 1.125em;
    line-height: 0.8;
}

.product-timeleft {
    font-size: .8em;
    margin-top: .85em;
}

.two-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 3em;
}