main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-text-interactable {
    color: rgb(19, 19, 19);
    text-decoration-color: rgba(68, 68, 68, 0);
    font-size: 0.9em;
    font-weight: 500;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.nav-text-interactable:hover {
    text-decoration: underline;
    text-decoration-color: rgb(68, 68, 68);
    color: rgb(68, 68, 68);
}

.navbar-right-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}

.icon-blue {
    color: #0033FF;
}

.icon-blue-hoverable {
    color: #0033FF;
    cursor: pointer;
}

.icon-blue-hoverable:hover {
    color: #2954FF;
}

.text-blue {
    color: #0033FF;
}

.text-blue:hover {
    color: #2954FF;
}

.form-control:focus {
    border-color: none;
    box-shadow: none
}

.modal-sign {
    min-width: 22vw;
}

.fc-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-in-title {
    font-size: 1.125em;
    font-weight: 500;
}

.sign-in-action {
    font-size: .875em;
    font-weight: 500;
}

.sign-in-remember {
    color: black;
    font-size: .875em;
    font-weight: 500;
}

.sign-in-agree {
    font-size: .75em;
    color: #919397;
}

.sign-in-agree span {
    text-decoration: underline;
}

input[type="email"], input[type="password"], input[type="search"] {
  background-color: #f0f1f5;
  border: none;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus {
  background-color: #f0f1f5;
}

input[type="search"] {
    height: 3.25em;
}

.sign-in-profile {
    position: relative;
    display: inline-block;
}

.profile-hover {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #d2d9e1;
    right: 0;
    left: auto;
    padding: 1em;
    z-index: 2;
    width: 250px;
}

.sign-in-profile:hover .profile-hover {
    display: block;
}

.profile-sign-out {
    color: #636363;
    font-size: .875em;
}

.profile-sign-out:hover {
    color: #8a8a8a;
}